@font-face {
    font-family: "Roboto Light";
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .05s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
}

body {
    color: #373737;
    background: #f7f7f7;

    font-family: 'Roboto', sans-serif;
}